    h1 {
    text-align: right;
    color: purple;
    font-family: sans-serif;
    font-style: oblique;
    float: right;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 80px;
    padding-left: 80px;
}

.image {
    border: 8px solid #6666ff;
    padding: 5px;
    background-color: cornsilk;
    background-attachment: scroll;
}

.style {
    background-style: scroll;
}

@media screen and (min-width: 768px) {
    body {
        background-color: wheat;
    }